%Clearfix:before,
%Clearfix:after {
  content: " ";
  display: table;
}

%Clearfix:after {
  clear: both;
}

%Inline {
  @extend %Clearfix;
  & > * {
    float: left;
  }
}

.Left {
  float: left;
}

.Right {
  float: right;
}

.Text-Right {
  text-align: right;
}

.Text-Left {
  text-align: left;
}

.Orange{
  color: #d7a715;
}