////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
// Framework global variables
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////

////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
//	Viewports list
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////

$VP-Iphone-4: 320px;
$VP-Iphone-6: 375px;
$Vp-Nexus-6: 412px;
$VP-Tablet: 600px;
$VP-Ipad-P: 768px;
$VP-Ipad-L: 1024px;
$VP-Ipad-C: 1100px;
$VP-Ipad-D: 1200px;
$VP-HD: 1280px;
$VP-Laptop: 1366px;
$VP-Laptop-1440: 1440px;
$VP-Desktop: 1600px;
$VP-FHD: 1920px;
$VP-2k: 2560px;
$VP-4k: 3840px;

////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////

////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
// Color Palette
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////

$Color-Primary: #901824;
$Color-Secondary: #F05223;

$Color-Buttons-Header: #F05223;
$Color-Text: #ee3c28;

$Border-Radius: 10px;

$Section-Padding: 75px;

////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////

////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
// Project Folders
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////

$Folder-Img: '../img/';
$Folder-Fonts: '../fonts/';

////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////

////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
// Font Names
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////

////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////