.Wrapper
{
    position : relative;
    z-index  : 10;
}

.Big-Photo
{
    display    : block;
    margin     : 0 auto;
    width      : 100%;
    max-width  : 1440px;
    border     : 5px solid #eee;
    box-shadow : 0 0 6px rgba(0, 0, 0, .3);
}

////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
//
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////

.Air
{
    overflow      : hidden;

    margin-bottom : $Section-Padding;
    padding       : $Section-Padding 0;
    border        : 2px #eee solid;
    h2
    {
        margin-bottom : 50px;
        text-align    : center;
    }
    .Video-Air
    {
        position   : relative;
        float      : left;
        width      : 500px;
        height     : 281px;
        background : url(/templates/bunker-lab/img/pic-video-placeholder.png) center center no-repeat;

        iframe
        {
            display  : none;
            top      : 0;
            width    : 100%;
            height   : 100%;

            position : absolute;
        }
        .Button-Play
        {
            @extend %Animation-Soft;
            position      : absolute;
            top           : 50%;
            left          : 50%;

            margin-top    : -25px;
            margin-left   : -25px;

            width         : 50px;
            height        : 50px;

            border-radius : $Border-Radius;
            background    : $Color-Secondary url(/templates/bunker-lab/img/ico-play.png) center center no-repeat;

            &:hover
            {
                background-color : $Color-Primary;
            }
        }
        .Air-Title
        {
            margin-top  : 5px;
            padding     : 5px 10px;
            color       : $Color-Secondary;
            text-align  : center;
            font-size   : 18px;
            font-weight : 700;
        }
    }
}

////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
// Advantages
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////

.Advantages
{
    position    : relative;
    text-align  : center;
    padding-top : 45px;
    width       : 650px;
    float       : right;

    font-size   : 0;

    @include Adaptive(1440px)
    {
        width : 850px;
    }

    .Advantages-Column
    {
        width          : 325px;
        text-align     : left;
        display        : inline-block;
        vertical-align : top;

        @include Adaptive(1440px)
        {
            width : 425px;
        }

        .Advantage-Item
        {
            padding       : 0 15px;
            margin-bottom : 25px;
            img
            {
                display        : inline-block;
                vertical-align : top;
            }
            dl
            {
                display        : inline-block;
                vertical-align : top;
                padding-left   : 15px;

                dt
                {
                    font-size      : 14px;
                    font-weight    : 500;
                    color          : $Color-Secondary;
                    padding-bottom : 7px;
                    @include Adaptive(1440px)
                    {
                        font-size : 18px;
                    }

                }

                dd
                {
                    display     : block;
                    font-size   : 13px;
                    font-weight : 100;
                    color       : black;
                    line-height : 19px;
                    @include Adaptive(1440px)
                    {
                        font-size : 16px;
                    }
                }
            }
        }
    }
}

////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////

////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
// NEWS
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////

.News
{
    position   : relative;
    padding    : 0 0 $Section-Padding;
    text-align : center;

    h2
    {
        @extend %Heading-Section;
    }
    .News-List
    {
        max-width  : 1374px;
        margin     : 0 auto;
        text-align : center;
        .News-Item
        {

            @extend %News-Thumbnail;
            display        : inline-block;
            vertical-align : top;
            width          : 30%;
            padding        : 0 20px;
            margin-right   : -2px;

            .News-One-Images
            {
                position : relative;
            }
        }

    }

    .Arrow-Left, .Arrow-Right
    {
        display      : inline-block;
        cursor       : pointer;
        margin-top   : 7%;
        margin-right : -2px;
    }

}

////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////

////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
// Post
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
.Post
{
    max-width : 900px;
    margin    : 0 auto;

    header
    {
        padding-bottom : 15px;
    }
}

.Post-Title
{
    @extend %Heading-News;
    font-size   : 36px;
    line-height : 120%;
}

.Post-Date
{
    margin-top : 10px;
    color      : #555;
    font-size  : 13px;
}

.Post-Photo
{
    @extend %Img-Rounded;

    display   : block;
    max-width : 100%;
    margin    : 30px auto;
}

.Post-Content
{
    p
    {
        font-size   : 17px;
        line-height : 145%;
    }
    p + p
    {
        margin-top : 15px;
    }
}

.About
{
    padding-bottom : 100px;
    h2, h1
    {
        margin-bottom  : 50px;
        font-size      : 34px;
        color          : black;
        text-transform : uppercase;
        text-align     : center;
    }

    p
    {
        max-width      : 750px;
        text-align     : left;
        font-size      : 16px;
        color          : #000;
        padding-bottom : 15px;
        margin         : 0 auto;
        display        : block;
        line-height    : 23px;
    }

}

.Back-Three-Block
{
    background-repeat : no-repeat;
    background-size   : contain;
}

/* media */
@media (min-width : 1441px) {
    .Big-Photo
    {
        border-radius : $Border-Radius;
    }
}

@media (max-width : 1366px) {
    .Footer-Top .Logo-Footer
    {
        padding-right : 0;
    }
    .Footer-Top .Footer-Top-Blocks .Footer-Top-Block
    {
        padding-right : 40px;
        padding-left  : 40px;
    }
    .Header .Header-Left
    {
        padding-right : 50px;
    }
}

@media (max-width : 1280px) {
    .Header .Header-Left
    {
        padding-right : 15px;
    }

    .Menu
    {
        margin-left : -140px;
    }
    .First-Chanel h1
    {
        font-size : 70px;
    }
}

////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
// Modificators
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////

.More
{
    display    : block;
    margin-top : 15px;

    text-align : center;

    span
    {
        @extend %Button-Default;
        display     : inline-block;
        font-size   : 18px;
        font-weight : 100;
        color       : white;
    }
}

////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////

////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
// Rectangular
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////

.Rectangulars
{
    position : relative;
    display  : none;
}

.Rectangular
{
    position         : fixed;
    width            : 120px;
    height           : 120px;

    opacity          : 0.02;
    background-size  : cover;

    &.Size-1
    {
        width   : 140px;
        height  : 140px;
        opacity : 0.01;
    }
    &.Size-2
    {
        width   : 180px;
        height  : 180px;
        opacity : 0.02;
    }
    &.Size-3
    {
        width   : 220px;
        height  : 220px;
        opacity : 0.03;
    }

    &.Rectangular-1
    {
        top  : 12%;
        left : 50%;
    }
    &.Rectangular-2
    {
        top  : -5%;
        left : 32%;
    }
    &.Rectangular-3
    {
        top  : 35%;
        left : 32%;
    }
    &.Rectangular-4
    {
        top  : 32%;
        left : 75%;
    }
    &.Rectangular-5
    {
        top  : 90%;
        left : 5%;
    }

    &.Rectangular-6
    {
        top  : 7%;
        left : 15%;
    }
    &.Rectangular-7
    {
        top  : 55%;
        left : 22%;
    }
    &.Rectangular-8
    {
        top  : 10%;
        left : 95%;
    }
    &.Rectangular-9
    {
        top  : 52%;
        left : 60%;
    }
    &.Rectangular-10
    {
        top  : 85%;
        left : 80%;
    }

    &.Rectangular-11
    {
        top  : 13%;
        left : 8%;
    }
    &.Rectangular-12
    {
        top  : 90%;
        left : 40%;
    }
    &.Rectangular-13
    {
        top  : 2%;
        left : 70%;
    }
    &.Rectangular-14
    {
        top  : 50%;
        left : 90%;
    }

    &.Rectangular-15
    {
        top  : 50%;
        left : -6%;
    }

}

////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////