////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
// Prototypes
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////

%Heading-Section
{
    margin-bottom  : 50px;
    font-size      : 34px;
    color          : black;
    text-transform : uppercase;
}

%Heading-News
{
    padding-top    : 18px;
    font-weight    : 500;
    line-height    : 20px;
    color          : #000;
    text-align     : left;
    text-transform : uppercase;
}

%Button-Default
{
    @extend %Animation-Soft;

    padding          : 10px 15px;

    border-radius    : $Border-Radius;
    //border:           2px solid rgba(255, 255, 255, .3);;

    background-color : $Color-Secondary;
    cursor           : pointer;

    &:hover
    {
        background-color : $Color-Primary;
        box-shadow       : 0 3px 6px rgba(0, 0, 0, .4);
    }
}

%Button-Ghost
{
    @extend %Animation-Soft;

    position        : relative;
    display         : inline-block;

    padding         : 21px 20px 21px 50px;
    margin-top      : 25px;

    border          : 4px solid $Color-Secondary;
    border-radius   : $Border-Radius;

    color           : #000;
    text-decoration : none;
    text-transform  : uppercase;
    cursor          : pointer;

    &:hover
    {
        color        : $Color-Primary;
        border-color : $Color-Primary;
    }
}

%Img-Rounded
{
    border-radius : $Border-Radius;
    border        : 4px #fff solid;
    box-shadow    : 0 0 6px rgba(0, 0, 0, .2);
}

%News-Thumbnail
{
    margin-bottom : 50px;
    .News-Photo
    {
        @extend %Animation-Soft;
        @extend %Img-Rounded;
        display : block;
        width   : 100%;

        &:hover
        {
            opacity : .8;
        }
    }
    .News-Date
    {
        position                   : absolute;
        bottom                     : 15px;
        left                       : 4px;
        min-width                  : 100px;

        padding                    : 7px 0;

        border-top-right-radius    : $Border-Radius;
        border-bottom-right-radius : $Border-Radius;
        font-weight                : 700;
        font-size                  : 14px;
        background                 : $Color-Secondary;
        color                      : white;
    }
    .News-Title
    {
        @extend %Heading-News;
        font-size : 20px;
        a
        {
            color           : inherit;
            text-decoration : inherit;
            transition      : all .4s;
            &:hover
            {
                color : $Color-Secondary;
            }
        }
    }
}

%Animation-Soft
{
    transition : all .4s;
}

////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////

.Node
{
    margin-left  : auto;
    margin-right : auto;
    width        : 1100px;
    @include Adaptive(1280px)
    {
        width : 1200px;
    }
    @include Adaptive(1440px)
    {
        width : 1400px;
    }

}

////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
// Site Header
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////

$Header-Left-Column-Width : 450px;

.Inner
{
    position : relative;
    margin   : 0 auto;
    padding  : 50px 0;
}

.Site-Header
{
    text-align        : center;

    position          : relative;
    background-repeat : no-repeat;
    background-size   : cover;

    .Top
    {
    }
    .Middle
    {
        margin-top : 100px;

        text-align : left;
        font-size  : 0;
    }
}

.Navigation ul
{
    text-align : center;
}

.Navigation
{

    ul
    {
        display : block;

    }

    li
    {
        display : inline;
    }

    a
    {
        @extend %Animation-Soft;

        display         : inline-block;
        margin-right    : 20px;
        padding         : 5px 10px;

        border          : 2px solid transparent;
        border-radius   : $Border-Radius;
        vertical-align  : middle;

        font-weight     : 100;
        font-size       : 20px;
        color           : black;
        text-decoration : none;

        @include Adaptive(1280px)
        {
            margin-right : 30px;
        }

        &.Active,
        &:hover
        {
            color        : $Color-Secondary;
            border-color : $Color-Secondary;
        }
    }
}

.Callback
{
    @extend %Button-Default;
    position        : absolute;
    top             : 50px;
    right           : 0;

    text-decoration : none;

    img, span
    {
        display        : inline-block;
        vertical-align : middle;
    }

    span
    {
        font-size : 18px;
        color     : white;
    }
}

.Big .Top .Company-Logotype
{
    position : absolute;
    left     : 0;
    top      : 30px;
    width    : 150px;

    object
    {
        max-width : 100%;
    }
}

.Big .Company-Logotype
{
    display : inline-block;
    width   : $Header-Left-Column-Width;
    @include Adaptive(1440px)
    {
        width : $Header-Left-Column-Width + 100px;
    }
    img, object
    {
        display   : block;
        margin    : 0 auto;
        max-width : 100%;
    }
}


.Company-Name
{
    display        : inline-block;
    font-size      : 80px;
    line-height    : 85px;
    color          : black;
    text-transform : uppercase;
    text-align     : left;
}

.Watch-Air
{
    @extend %Button-Ghost;
    margin-top  : 50px;
    margin-left : $Header-Left-Column-Width;
    font-size   : 30px;
    @include Adaptive(1440px)
    {
        margin-left : $Header-Left-Column-Width + 100px;
    }
}

.Watch-Air:before
{
    content       : "";
    position      : absolute;
    width         : 18px;
    height        : 18px;
    border-radius : 50%;
    background    : #{$Color-Text};
    left          : 20px;
    top           : 27px;
}

////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////

////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
// Site Footer
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////

.Footer-Top
{
    padding-top    : $Section-Padding;
    padding-bottom : $Section-Padding;
    text-align     : center;
    a
    {
        text-decoration : none;
    }
    .Logo-Footer
    {
        display        : inline-block;
        vertical-align : middle;
        padding-right  : 50px;
    }
    .Footer-Top-Blocks
    {
        display        : inline-block;
        vertical-align : middle;
        li, a
        {
            font-size       : 16px;
            color           : black;
            text-decoration : none;
            line-height     : 35px;
        }
        h4
        {
            color          : $Color-Secondary;
            font-size      : 20px;
            text-transform : uppercase;
            margin-bottom  : 10px;
        }

        .Footer-Top-Block
        {
            display        : inline-block;
            vertical-align : top;
            text-align     : left;
            padding        : 25px 50px;

        }

        .Footer-Top-Block:nth-of-type(1), .Footer-Top-Block:nth-of-type(2)
        {
            border-right : 2px solid #bfbfbf;
        }
    }
}

////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
h1
{
    font-size : 34px;
}

h2
{
    font-size : 29px;
}

img
{
    max-width : 100%;
}

.clearfix:after
{
    clear : both;
}

.clearfix:after, .clearfix:before
{
    content : " ";
    display : table;
}

.Map
{
    border-bottom : 5px solid #eee;
    border-top    : 5px solid #eee;
}

.Last-Text
{
    font-size      : 16px;
    text-align     : center;
    color          : #000;
    padding-bottom : 55px;
    padding-top    : 55px;
}
