.Site-Header .Middle
{
    display : none;
}

.Page-Home .Site-Header .Middle
{
    display : block;
}

.Page-Home .Big .Top .Company-Logotype
{
    display : none;
}

.Page-Home .Big .Navigation ul
{
    text-align  : left;
    margin-left : $Header-Left-Column-Width - 10px;
    @include Adaptive(1440px)
    {
        margin-left : $Header-Left-Column-Width + 100px - 10px;
    }
}