*
{
    box-sizing : border-box;
}

html
{
    overflow-x : hidden;
}

body
{
    font-family : Ubuntu, sans-serif;
    min-width   : 320px;

}

/* Let's get this party started */
::-webkit-scrollbar
{
    width : 10px;
}

::-webkit-scrollbar-track
{
    background : #fff;
}

::-webkit-scrollbar-thumb
{
    background : #ff4d00;
}









