////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
$Phone-Modal-Height : 433px;
$Tablet-Modal-Height : 403px;
$Tablet-Modal-Width : 516px;
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////

////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
.Modal-Outer
{
    display          : none;
    position         : fixed;
    z-index          : 1000;
    top              : 0;
    bottom           : 0;
    left             : 0;
    right            : 0;
    background-color : rgba(0, 0, 0, .5);
}

////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////

////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
.Modal
{
    position         : absolute;
    left             : 5%;
    width            : 90%;
    display          : inline-block;
    background-color : #fff;
    padding          : 25px 15px;
    top              : 50%;
    margin-top       : -238px;
    border-radius    : $Border-Radius;

    @include Adaptive($VP-HD)
    {
        padding     : 50px 30px;
        left        : 50%;
        width       : 516px;
        margin-top  : -(600px/2);
        margin-left : -(516px/2);
    }

    .Close
    {
        float               : right;
        width               : 20px;
        height              : 24px;
        margin-top          : -30px;
        background-repeat   : no-repeat;
        background-position : center center;
        background-size     : 100%;
        text-decoration     : none;
        color               : $Color-Secondary;
        font-size           : 40px;

        &:hover
        {
            @extend %Animation-Soft;
            color : $Color-Primary;
        }
    }

    h3
    {
        font-size : 20px;
    }

    .Form-Row
    {
        label
        {
            width   : 100%;
            display : block;

        }
        input, textarea
        {
            margin-top    : 10px;
            width         : 100%;
            padding       : 10px;
            border        : 1px solid #ccc;
            border-radius : 3px;

            &.Script-Message-Error
            {
                border : 1px solid $Color-Secondary ;
            }
        }
        textarea
        {
            height : 120px;
        }

        input:focus, textarea:focus
        {
            outline      : none;
            border-color : $Color-Primary;
        }
        &.Form-Row
        {
            margin-top : 30px;
        }
    }

    .Send
    {
        width               : 100%;
        font-size           : 16px;
        margin-top          : 20px;
        padding             : 20px 34px;
        border              : 0;
        background-repeat   : no-repeat;
        background-position : center center;
        background-size     : 100%;
        text-decoration     : none;
        cursor              : pointer;
        color               : white;
        background-color    : $Color-Secondary;
        border-radius       : $Border-Radius;
        @extend %Animation-Soft;

        &:hover
        {
            @extend %Animation-Soft;
            background-color : $Color-Primary;
        }

    }

    .Script-Form-Result
    {
        padding     : 20px 0 0;
        font-weight : 700;
        text-align  : center;
        &.Error
        {
            color : #bf0000;
        }
    }
}

////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////